/* debug - common */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

.debug {

    * {
        border: 1px dashed;
    }

    header {
        height: 100px;
        background-color: lightcoral;
    }

    .container {
        background-color: yellowgreen;
    }

    section {
        background-color: purple;
        /* height: 350px; */
    }

    footer {
        background-color: black;
        height: 500px;
    }
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-txt-center {
    text-align: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.list-unstyled {
    list-style: none;
}


/* font sizes */

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

p {
    line-height: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

ul {
    padding-left: 0;
}

/* colors */
:root {
    --dis-white: #ffffff;
    --dis-dark: #23272a;
    --dis-light: #f6f6f6;
    --dis-primary: #3161e0;
    --dis-secondary: #7289da;
    --dis-secondary-light: #8ea1e1;
}

.bg-light {
    background-color: var(--dis-light);
}



/* header */
header {
    padding: 0.5rem 0;
    margin: 0;
    height: 3rem;
    background-color: var(--dis-primary);
}

nav ul {
    padding-left: 0;
    gap: 20px;

}

a {
    color: var(--dis-white);
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

.container-sm {
    margin: 0 auto;
    width: 65%;
}

/* main */
section {
    padding: 5rem 0;
}

.jumbotron {
    background-image: url(./img/jumbo.png);
    background-position: top;
    color: var(--dis-white);
    background-size: cover;
    text-align: center;

    .container-sm {
        padding: 6rem 0;
    }

    p.lead {
        font-size: 1.15rem;
        padding: 1.5rem 0;
    }

    h1 {
        font-size: 3rem;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.stars {
    background-image: url(./img/stars.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 50% 1%;
}

h1 {
    margin: 0;
    width: 100%;
}

.w-55 {
    width: 55%;
    height: 100%;
}

.w-40 {
    width: 40%;
    height: 100%;
}

/* buttons */
.btn {
    display: inline-block;
    border-radius: 20px;
    padding: 1% 2%;
}

.btn-lg {
    padding: 0.75rem 1rem;
    border-radius: 1.5rem;
}

.btn-dark {
    background-color: var(--dis-dark);
    color: var(--dis-white);
}

.btn-light {
    background-color: var(--dis-white);
    color: var(--dis-dark)
}

.btn-secondary {
    background-color: var(--dis-secondary);
    color: var(--dis-white);
}

.jumbobuttons {
    justify-content: space-around;
    width: 70%;
    height: 15%;
    padding: 1% 2%;
}

/* /buttons */

/* footer */

footer {
    background-color: rgba(35, 39, 42, 255);
}

.languages {
    gap: 0.5rem;
    align-items: center;
    color: var(--dis-white);
}

footer>.container {
    gap: 1rem;
}

footer>.container>div.company {
    width: 30%;
}

footer>.container>div.item {
    flex-grow: 1;
}

header {
    position: sticky;

    top: 0;
    left: 0;
    width: 100%;
}

.logo img {
    display: block;
}

h3,
h4 {
    color: var(--dis-secondary-light);
    margin-bottom: 1rem;
}